{
  "openapi": "3.0.0",
  "info": {
    "title": "Multilogin X API",
    "version": "1.0.0",
    "description": "## **Multilogin X API Documentation**\n\nWelcome to the Multilogin X API documentation. This documentation serves to explain how to automate Multilogin X API endpoints by using scripts, bots and automation in general.\n\nOur API enables users and developers to programmatically manage browser profiles, perform actions such as creating, modifying, or deleting profiles, and retrieve data related to profile usage, activity etc.\n\n## **Authentication**\n\nMost of the API requests must be authenticated using Bearer Token. You can generate Bearer Token by signing in or refreshing it when needed.\n\nThe regular token has 30 minutes of lifetime. Upon expiration, you may refresh it with `POST /user/refresh_token` to obtain a new one.\n\nTo have higher rate limits and a longer token lifetime, it is recommended to get the [automation token](https://documenter.getpostman.com/view/28533318/2s946h9Cv9#918a9c42-cb0f-497f-9bdd-a44d9d760be5).\n\n## **Endpoints Overview**\n\nThe Multilogin X API provides endpoints for various actions divided into the following categories:\n\n- **Base URL**: api.multilogin.com\n    \n- **Launcher:** Start, stop, get basic infomation about browser profiles.\n    \n- **Profile Management:** Create, update, delete, browser profiles.\n    \n- **Profile Access Management**: Sign in, manage your password and token, get basic information on workspaces.\n    \n- **Browser Profile Data:** Unlock browser profiles.\n    \n\n## **Request and Response Format**\n\nThe API accepts JSON-formatted requests and returns responses in JSON format.\n\n## **Error Handling**\n\nThe API follows standard HTTP status codes to indicate the success or failure of requests. Error responses include error messages to assist in troubleshooting.\n\nErrors are categorized into the following groups:\n\n1. **Client Errors (4xx):** These errors occur when there is an issue with the client's request, such as invalid parameters or unauthorized access.\n    \n    - **400 Bad Request:** The request was invalid or malformed. Check the request parameters and try again. This type typically relates to wrong or invalid data being sent.\n        \n    - **401 Unauthorized:** Authentication credentials are missing or invalid. Ensure you are using valid credentials and tokens.\n        \n    - **403 Forbidden:** The user does not have permission to access the requested resource.\n        \n    - **429 Too Many Request:** The error indicates that the user has sent too many requests in a given amount of time exceeding the rate limit.\n        \n2. **Server Errors (5xx):** These errors occur when there is an issue on the server side, such as internal server errors or service unavailable.\n    \n    - **500 Internal Server Error:** An unexpected error occurred on the server side. This may happen when the server cannot process your request due to multiple technical reasons. Wrong payloads or inconsistent data sent can also raise this error. Contact support if the issue persists.\n        \n\nFor more information on using the Multilogin X API, please refer to the API documentation with code examples or navigate to our [support page](https://help.multilogin.com/en_US/multilogin-x).\n\nHave feedback to share? Take a minute to fiil in this quick [survey](https://tally.so/r/nWABkk)."
  },
  "servers": [
    {
      "url": "https://launcher.mlx.yt:45001"
    },
    {
      "url": "https://api.multilogin.com"
    },
    {
      "url": "https://profile-proxy.multilogin.com"
    },
    {
      "url": "https://cookies.multilogin.com"
    }
  ],
  "paths": {
    "/api/v2/profile/f/{folder_id}/p/{profile_id}/start": {
      "get": {
        "summary": "Start Browser Profile",
        "parameters": [
          {
            "name": "automation_type",
            "in": "query",
            "description": "`Optional`. Specify the automation type. Mimic can work with any of the types. Stealthfox can only work with **selenium**. Defaults to `selenium`.",
            "schema": {
              "type": "string"
            },
            "example": "selenium, puppeteer, playwright"
          },
          {
            "name": "headless_mode",
            "in": "query",
            "description": "`Optional`. Enable headless mode for all browsers. Defaults to `false`.",
            "schema": {
              "type": "string"
            },
            "example": "false,true"
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile Started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "browser_type": {
                          "type": "string"
                        },
                        "core_version": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_quick": {
                          "type": "boolean"
                        },
                        "port": {
                          "type": "string",
                          "format": "utc-millisec"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "browser_type": "mimic",
                    "core_version": 132,
                    "id": "81b5627a-1212-4016-9467-3dbe4d6f78eb",
                    "is_quick": false,
                    "port": "55513"
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": "Profile started successfully"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nStart a browser profile.\n\nThe endpoint will return a port for automation in the response message if the automation type parameter is passed. See `automation_type` in the \"Query Params\" section.\n\n**NB: Mimic profiles will work with** **`custom_start_urls`** **only if** **`automation_type`** **is NOT specified. This is to be fixed soon.****Stealthfox profiles work as expected.**\n\n**Required parameters for Strict mode:**\n\n``` json\n\"folder_id\":\"<string>\",\n\"profile_id\":\"<string>\",\n\"automation_type\":\"<value>\",\n\"headless_mode\":<boolean>\n\n ```"
      },
      "parameters": [
        {
          "name": "folder_id",
          "in": "path",
          "required": true,
          "description": "`Required`. Specify the ID of the folder where the profile to launch is stored. Defaults to `default folder`.",
          "schema": {
            "type": "string"
          },
          "example": "uuid"
        },
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "description": "`Required`. Specify the ID of the profile to launch.",
          "schema": {
            "type": "string"
          },
          "example": "uuid"
        }
      ]
    },
    "/api/v3/profile/quick": {
      "post": {
        "summary": "Start Quick Profile v3",
        "parameters": [
          {
            "name": "browser_type",
            "in": "query",
            "description": "`Required`. Choose the browser type. Note: For `android` only mimic is supported! Defaults to `mimic`,",
            "schema": {
              "type": "string"
            },
            "example": "\"mimic\", \"stealthfox\""
          },
          {
            "name": "core_version",
            "in": "query",
            "description": "`Optional`. You can skip specifying the value since your profiles will be updated to the latest core each time it is launched. Defaults to `latest`. Cannot specify the version that is 6 versions older then the current latest one.",
            "schema": {
              "type": "integer"
            },
            "example": "124"
          },
          {
            "name": "core_minor_version",
            "in": "query",
            "description": "`Optional`. Specify the minor version based on its availability.",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "os_type",
            "in": "query",
            "description": "`Required`. Specify the OS. Defaults to `windows`.",
            "schema": {
              "type": "string"
            },
            "example": "\"linux\", \"macos\", \"windows\", \"android\""
          },
          {
            "name": "script_file",
            "in": "query",
            "description": "`Optional`",
            "schema": {
              "type": "string"
            },
            "example": "\"your_.py_file\""
          },
          {
            "name": "automation",
            "in": "query",
            "description": "`Optional`. `selenium` only for working with Script Runner. Defaults to `selenium`.",
            "schema": {
              "type": "string"
            },
            "example": "selenium"
          },
          {
            "name": "is_headless",
            "in": "query",
            "description": "`Optional`. Enable headless mode. Defaults to `false`.",
            "schema": {
              "type": "string"
            },
            "example": "true,false"
          },
          {
            "name": "proxy",
            "in": "query",
            "description": "`Optional` for `parameters`. Add a proxy to your profiles.",
            "schema": {
              "type": "string"
            },
            "example": "{\n    \"host\": \"foo\",\n    \"type\": \"foo\",\n    \"port\": 1234,\n    \"username\": \"foo\",\n    \"password\": \"foo\" \n    \"save_traffic\": false\n}"
          },
          {
            "name": "save_traffic",
            "in": "query",
            "description": "`Optional` for `proxy`. `false` is set by default. When set to `true`,  disables the loading of images/videos saving the proxy traffic.",
            "schema": {
              "type": "string"
            },
            "example": "false, true"
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "`Required`. Specify parameters for your profiles. `flags`, `fingerprints`, `storage` **are required** for **parameters**.",
            "schema": {
              "type": "string"
            },
            "example": "flags,  fingerprints, storage, proxy,  custom_start_urls"
          },
          {
            "name": "flags",
            "in": "query",
            "description": "`Required`. Specify flags for your profiles. `webrtc_masking, proxy_masking, geolocation_popup, audio_masking, graphics_noise, ports_masking, navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, geolocation_masking` **are required** for **parameters**.",
            "schema": {
              "type": "string"
            },
            "example": "webrtc_masking, proxy_masking, geolocation_popup, audio_masking, graphics_noise, ports_masking, navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, geolocation_masking, canvas_noise, startup_behavior"
          },
          {
            "name": "webrtc_masking",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `mask`.",
            "schema": {
              "type": "string"
            },
            "example": "\"natural\", \"custom\", \"mask\", \"disabled\""
          },
          {
            "name": "geolocation_popup",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `prompt`.",
            "schema": {
              "type": "string"
            },
            "example": "\"prompt\", \"allow\", \"block\""
          },
          {
            "name": "audio_masking, graphics_noise",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `mask` for graphic_noise and to `natural` for audio masking.",
            "schema": {
              "type": "string"
            },
            "example": "\"mask\", \"natural\""
          },
          {
            "name": "proxy_masking",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `disabled` unsell proxy is provided, than defaults to `custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"custom\", \"disabled\""
          },
          {
            "name": "navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, ports_masking",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `mask` and for media_devices_masking defaults to `natural`.",
            "schema": {
              "type": "string"
            },
            "example": "\"natural\", \"custom\", \"mask\""
          },
          {
            "name": "geolocation_masking",
            "in": "query",
            "description": "`Required` for `flags`. Defaults to `mask`.",
            "schema": {
              "type": "string"
            },
            "example": "\"custom\", \"mask\""
          },
          {
            "name": "canvas_noise",
            "in": "query",
            "description": "`Optional` for`flags`. The value is set based on the value of `graphics_noise` by default. To set a specific value for `canvas_noise`, include `canvas_noise` in your request body. Defaults to `mask`.",
            "schema": {
              "type": "string"
            },
            "example": "\"mask\", \"natural\", \"disabled\""
          },
          {
            "name": "startup_behavior",
            "in": "query",
            "description": "`Optional` for `flags`. `recover` is set by default and allows opening profiles with the tabs from the last session. `custom` opens up profiles with provided custom pages in `custom_start_urls`. Defaults to `recover`.",
            "schema": {
              "type": "string"
            },
            "example": "\"recover\",  \"custom\""
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "`Required` for `parameters`. Specify fingerprints of your profiles if flags are set to `Custom`. Defaults to `optional` unless custom is set.",
            "schema": {
              "type": "string"
            },
            "example": "navigator, localization, timezone, graphic, webrtc, media_devices, screen,  geolocation,  ports,  fonts,  cmd_params"
          },
          {
            "name": "hardware_concurrency",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `hardware_concurrency` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "2, 4, 6, 8, 12, 16, 32"
          },
          {
            "name": "user_agent",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `user-agent`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "platform",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `platform` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "os_cpu",
            "in": "query",
            "description": "`Oprtional` for `navigator`. Specify the value for `os_cpu`if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "accept_languages",
            "in": "query",
            "description": "`Required` for `localization`. Specify the value for `accept_languages` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "languages",
            "in": "query",
            "description": "`Required` for `localization`. Pass an empty string.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "locale",
            "in": "query",
            "description": "`Required` for `localization`. Pass an empty string.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "zone",
            "in": "query",
            "description": "`Required` for `timezone`.  Specify the value for `zone`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "`Required` for `graphic`. Specify the value for `vendor` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "renderer",
            "in": "query",
            "description": "`Required` for `graphic`. Specify the value for `renderer` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "vendor_id",
            "in": "query",
            "description": "`Optional` for `graphic`. Specify the value for `vendor_id` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "renderer_id",
            "in": "query",
            "description": "`Optional` for `graphic`. Specify the value for `renderer_id` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "public_ip",
            "in": "query",
            "description": "`Required` for `webrtc`. Specify the value for `public_ip` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "audio_outputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `audio_outputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "video_inputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `video_inputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "audio_inputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `audio_inputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "width",
            "in": "query",
            "description": "`Required` for `screen`. Specify the value for `width` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "360 - 5000"
          },
          {
            "name": "height",
            "in": "query",
            "description": "`Required` for `screen`.  Specify the value for `height` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "640 - 3000"
          },
          {
            "name": "pixel_ratio",
            "in": "query",
            "description": "`Required` for `screen`. Specify the value for `pixel_ratio` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "1.0 - 5.0"
          },
          {
            "name": "ports",
            "in": "query",
            "description": "`Optional`. Specify the value for `ports` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "[0 - 65535]"
          },
          {
            "name": "accuracy",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `accuracy` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "altitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `altitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `longitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `latitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "fonts",
            "in": "query",
            "description": "`Optional` for `fingerprints`. Specify the value for `fonts` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "[\"Font\"]"
          },
          {
            "name": "cmd_params",
            "in": "query",
            "description": "`Optional` for `fingerprints`. Specify command line parameters for browsers.",
            "schema": {
              "type": "string"
            },
            "example": "{\n                \"params\": [\n                    {\n                        \"flag\": \"<string>\",\n                        \"value\": \"<string>\"\n                    }\n                ]\n            }"
          },
          {
            "name": "custom_start_urls",
            "in": "query",
            "description": "`Optional`. Specify custom URLs. Max amount is 5. Defaults to `optional` unselss custom is set.",
            "schema": {
              "type": "string"
            },
            "example": "[\"url\"]"
          },
          {
            "name": "max_touch_points",
            "in": "query",
            "description": "`Optional` for `fingerprint` with `android` os. Default is 5.",
            "schema": {
              "type": "string"
            },
            "example": "1 - 10"
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Quick Profile v3 started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "browser_type": {
                          "type": "string"
                        },
                        "core_version": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_quick": {
                          "type": "boolean"
                        },
                        "port": {
                          "type": "string",
                          "format": "utc-millisec"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "browser_type": "mimic",
                    "core_version": 132,
                    "id": "d04aa438-d887-11ef-8d6d-0a0027000012",
                    "is_quick": true,
                    "port": "55579"
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": "Quick profile started successfully"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nCreate a one-time quick browser profile, that opens up after the call is successfully made. Browsing activity and its related data is not saved after the profle has been stopped.\n\nFingerprint parameters need providing only if flags set to `Custom`.\n\nCheck out **Params** to see what each key-value pair is about. To copy the example request body, navigate to **Body**.\n\nNote that the custom URL feature will be available for Mimic quick browsers **ONLY** if the `automation` value is not provided in the request. Stealthfox browsers works as expected.\n\nIf you would like to avoid having your profiles updated to the latest available core, specify `auto_update_core` (`true` or `false`) and a specific `core_version`.  \nUpdating existing profiles to a specific core version is not supported.\n\n**Mimic quick profiles will work with** **`custom_start_urls`** **only if** **`automation_type`** **is NOT specified. This is to be fixed soon. Stealthfox profiles work as expected.**\n\n**NB: It is recommended to use the default values, which keep your browser cores up-to-date. Multilogin does not bear any responsability for ban or detection-related issues if profiles have a dated core version.**\n\n**Required parameters for Strict mode:**\n\nStart Quick Profile v3 has `proxy` inside `parameters`.\n\n``` json\n{\n    \"browser_type\": \"<string>\",\n    \"os_type\": \"<string>\",\n    \"automation\": \"<string>\",\n    \"auto_update_core\": <boolean>,\n    \"core_version\": <number>,\n    \"is_headless\": <boolean>,\n    \"parameters\": {\n        \"flags\": {\n            \"audio_masking\": \"value\",\n            \"fonts_masking\": \"value\",\n            \"geolocation_masking\": \"value\",\n            \"geolocation_popup\": \"value\",\n            \"graphics_masking\": \"value\",\n            \"graphics_noise\": \"value\",\n            \"localization_masking\": \"value\",\n            \"media_devices_masking\": \"value\",\n            \"navigator_masking\": \"value\",\n            \"ports_masking\": \"value\",\n            \"proxy_masking\": \"value\",\n            \"screen_masking\": \"value\",\n            \"timezone_masking\": \"value\",\n            \"webrtc_masking\": \"value\",\n            \"canvas_noise\" :\"value\",\n            \"startup_behavior\" :\"value\"\n        }\n        \"fingerprint\": {}\n}\n\n ```\n\nThe number of parameters in `fingerprint` may vary depending on the flag values passed in the request body.\n\nTo use quick profiles with [Script Runner](https://go.postman.co/workspace/My-Workspace~ccd73442-99e9-4b09-8bed-73dcedfe74b9/documentation/28533318-54a9773a-031e-4904-b607-e372445dc2ba?entity=folder-ae883a9a-6cc8-4de6-bdab-0ce3b05e83a6), use the following additional parameters:\n\n``` json\n\"automation\": \"selenium\",\n\"script_file\": \"your_file.py\"\n\n ```"
      }
    },
    "/api/v2/profile/quick": {
      "post": {
        "summary": "Start Quick Profile",
        "parameters": [
          {
            "name": "browser_type",
            "in": "query",
            "description": "`Required`. Choose the browser type. Note: For `android` only mimic is supported!",
            "schema": {
              "type": "string"
            },
            "example": "\"mimic\", \"stealthfox\""
          },
          {
            "name": "auto_update_core",
            "in": "query",
            "description": "`Optional`\nYou can skip specifying the value since your profiles will be updated to the latest core by default each time it is launched.",
            "schema": {
              "type": "string"
            },
            "example": "true, false"
          },
          {
            "name": "core_version",
            "in": "query",
            "description": "`Optional`. \nYou can skip specifying the value since your profiles will be updated to the latest core each time it is launched.",
            "schema": {
              "type": "integer"
            },
            "example": "124"
          },
          {
            "name": "os_type",
            "in": "query",
            "description": "`Required`. Specify the OS.",
            "schema": {
              "type": "string"
            },
            "example": "\"linux\", \"macos\", \"windows\", \"android\""
          },
          {
            "name": "automation",
            "in": "query",
            "description": "`Optional`. Specify the automation type. Mimic can work with any of the types. Stealthfox can only work with **selenium**.",
            "schema": {
              "type": "string"
            },
            "example": "selenium, playwright, puppeteer"
          },
          {
            "name": "is_headless",
            "in": "query",
            "description": "`Optional`. Enable headless mode.",
            "schema": {
              "type": "string"
            },
            "example": "true,false"
          },
          {
            "name": "proxy",
            "in": "query",
            "description": "`Optional` for `parameters`. Add a proxy to your profiles.",
            "schema": {
              "type": "string"
            },
            "example": "{\n    \"host\": \"foo\",\n    \"type\": \"foo\",\n    \"port\": 1234,\n    \"username\": \"foo\",\n    \"password\": \"foo\"\n}"
          },
          {
            "name": "save_traffic",
            "in": "query",
            "description": "`Optional` for `proxy`. `false` is set by default. When set to `true`,  disables the loading of images/videos saving the proxy traffic.",
            "schema": {
              "type": "string"
            },
            "example": "false, true"
          },
          {
            "name": "parameters",
            "in": "query",
            "description": "`Required`. Specify parameters for your profiles. `flags`, `fingerprints`, `storage` **are required** for **parameters**.",
            "schema": {
              "type": "string"
            },
            "example": "flags,  fingerprints, storage, proxy,  custom_start_urls"
          },
          {
            "name": "flags",
            "in": "query",
            "description": "`Required`. Specify flags for your profiles. `webrtc_masking, proxy_masking, geolocation_popup, audio_masking, graphics_noise, ports_masking, navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, geolocation_masking` **are required** for **parameters**.",
            "schema": {
              "type": "string"
            },
            "example": "webrtc_masking, proxy_masking, geolocation_popup, audio_masking, graphics_noise, ports_masking, navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, geolocation_masking, canvas_noise, startup_behavior"
          },
          {
            "name": "webrtc_masking",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"natural\", \"custom\", \"mask\", \"disabled\""
          },
          {
            "name": "geolocation_popup",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"prompt\", \"allow\", \"block\""
          },
          {
            "name": "audio_masking, graphics_noise",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"mask\", \"natural\""
          },
          {
            "name": "proxy_masking",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"custom\", \"disabled\""
          },
          {
            "name": "navigator_masking, localization_masking, timezone_masking, graphics_masking, fonts_masking, media_devices_masking, screen_masking, ports_masking",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"natural\", \"custom\", \"mask\""
          },
          {
            "name": "geolocation_masking",
            "in": "query",
            "description": "`Required` for `flags`.",
            "schema": {
              "type": "string"
            },
            "example": "\"custom\", \"mask\""
          },
          {
            "name": "canvas_noise",
            "in": "query",
            "description": "`Optional` for`flags`. The value is set based on the value of `graphics_noise` by default. To set a specific value for `canvas_noise`, include `canvas_noise` in your request body.",
            "schema": {
              "type": "string"
            },
            "example": "\"mask\", \"natural\", \"disabled\""
          },
          {
            "name": "startup_behavior",
            "in": "query",
            "description": "`Optional` for `flags`. `recover` is set by default and allows opening profiles with the tabs from the last session. `custom` opens up profiles with provided custom pages in `custom_start_urls`.",
            "schema": {
              "type": "string"
            },
            "example": "\"recover\",  \"custom\""
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "`Required` for `parameters`. Specify fingerprints of your profiles if flags are set to `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "navigator, localization, timezone, graphic, webrtc, media_devices, screen,  geolocation,  ports,  fonts,  cmd_params"
          },
          {
            "name": "hardware_concurrency",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `hardware_concurrency` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "2, 4, 6, 8, 12, 16, 32"
          },
          {
            "name": "user_agent",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `user-agent`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "platform",
            "in": "query",
            "description": "`Required` for `navigator`. Specify the value for `platform` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "os_cpu",
            "in": "query",
            "description": "`Oprtional` for `navigator`. Specify the value for `os_cpu`if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "accept_languages",
            "in": "query",
            "description": "`Required` for `localization`. Specify the value for `accept_languages` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "languages",
            "in": "query",
            "description": "`Required` for `localization`. Pass an empty string.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "locale",
            "in": "query",
            "description": "`Required` for `localization`. Pass an empty string.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "zone",
            "in": "query",
            "description": "`Required` for `timezone`.  Specify the value for `zone`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "`Required` for `graphic`. Specify the value for `vendor` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "renderer",
            "in": "query",
            "description": "`Required` for `graphic`. Specify the value for `renderer` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "vendor_id",
            "in": "query",
            "description": "`Optional` for `graphic`. Specify the value for `vendor_id` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "renderer_id",
            "in": "query",
            "description": "`Optional` for `graphic`. Specify the value for `renderer_id` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "public_ip",
            "in": "query",
            "description": "`Required` for `webrtc`. Specify the value for `public_ip` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_custom_value\""
          },
          {
            "name": "audio_outputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `audio_outputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "video_inputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `video_inputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "audio_inputs",
            "in": "query",
            "description": "`Required` for `media_devices`. Specify the value for `audio_inputs` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "width",
            "in": "query",
            "description": "`Required` for `screen`. Specify the value for `width` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "360 - 5000"
          },
          {
            "name": "height",
            "in": "query",
            "description": "`Required` for `screen`.  Specify the value for `height` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "640 - 3000"
          },
          {
            "name": "pixel_ratio",
            "in": "query",
            "description": "`Required` for `screen`. Specify the value for `pixel_ratio` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "1.0 - 5.0"
          },
          {
            "name": "ports",
            "in": "query",
            "description": "`Optional`. Specify the value for `ports` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "[0 - 65535]"
          },
          {
            "name": "accuracy",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `accuracy` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "altitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `altitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `longitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "`Required` for `geolocation`. Specify the value for `latitude` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "your_number"
          },
          {
            "name": "fonts",
            "in": "query",
            "description": "`Optional` for `fingerprints`. Specify the value for `fonts` if the flag is `Custom`.",
            "schema": {
              "type": "string"
            },
            "example": "[\"Font\"]"
          },
          {
            "name": "cmd_params",
            "in": "query",
            "description": "`Optional` for `fingerprints`. Specify command line parameters for browsers.",
            "schema": {
              "type": "string"
            },
            "example": "{\n                \"params\": [\n                    {\n                        \"flag\": \"<string>\",\n                        \"value\": \"<string>\"\n                    }\n                ]\n            }"
          },
          {
            "name": "custom_start_urls",
            "in": "query",
            "description": "`Optional`. Specify custom URLs. Max amount is 5.",
            "schema": {
              "type": "string"
            },
            "example": "[\"url\"]"
          },
          {
            "name": "max_touch_points",
            "in": "query",
            "description": "`Optional` for `fingerprint` with `android` os. Default is 5.",
            "schema": {
              "type": "string"
            },
            "example": "1 - 10"
          }
        ],
        "responses": {
          "200": {
            "description": "Quick Profile Started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "browser_type": {
                          "type": "string"
                        },
                        "core_version": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "string"
                        },
                        "is_quick": {
                          "type": "boolean"
                        },
                        "port": {
                          "type": "string",
                          "format": "utc-millisec"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "browser_type": "mimic",
                    "core_version": 132,
                    "id": "d04aa438-d887-11ef-8d6d-0a0027000012",
                    "is_quick": true,
                    "port": "55579"
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": "Quick profile started successfully"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "**To be deprecated. Use Start Quick Profile v3 for starting quick browser profiles.**\n\nCreate a one-time quick browser profile, that opens up after the call is successfully made. Browsing activity and its related data is not saved after the profle has been stopped.\n\nFingerprint parameters need providing only if flags set to `Custom`.\n\nCheck out **Params** to see what each key-value pair is about. To copy the example request body, navigate to **Body**.\n\nIf you would like to avoid having your profiles updated to the latest available core, specify `auto_update_core` (`true` or `false`) and a specific `core_version`.  \nUpdating existing profiles to a specific core version is not supported.\n\n**Mimic quick profiles will work with** **`custom_start_urls`** **only if** **`automation_type`** **is NOT specified. This is to be fixed soon. Stealthfox profiles work as expected.**\n\n**NB: It is recommended to use the default values, which keep your browser cores up-to-date. Multilogin does not bear any responsability for ban or detection-related issues if profiles have a dated core version.**\n\n**Required parameters:**\n\n``` json\n{\n    \"browser_type\": \"<string>\",\n    \"os_type\": \"<string>\",\n    \"parameters\": {\n        \"flags\": {\n            \"audio_masking\": \"value\",\n            \"fonts_masking\": \"value\",\n            \"geolocation_masking\": \"value\",\n            \"geolocation_popup\": \"value\",\n            \"graphics_masking\": \"value\",\n            \"graphics_noise\": \"value\",\n            \"localization_masking\": \"value\",\n            \"media_devices_masking\": \"value\",\n            \"navigator_masking\": \"value\",\n            \"ports_masking\": \"value\",\n            \"proxy_masking\": \"value\",\n            \"screen_masking\": \"value\",\n            \"timezone_masking\": \"value\",\n            \"webrtc_masking\": \"value\"\n        }\n        \"fingerprint\": {}\n}\n\n ```\n\nThe number of parameters in `fingerprint` may vary depending on the flag values passed in the request body."
      }
    },
    "/api/v1/profile/stop/p/{profile_id}": {
      "get": {
        "summary": "Stop Browser Profile",
        "responses": {
          "200": {
            "description": "Profile Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Stop a browser profile."
      },
      "parameters": [
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "description": "`Required`. Specify the ID of the profile to launch.",
          "schema": {
            "type": "string"
          },
          "example": "uuid"
        }
      ]
    },
    "/api/v1/profile/stop_all": {
      "get": {
        "summary": "Stop All Profiles",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "`Optional`. Specify the type of profile to stop. `all` is set by default.",
            "schema": {
              "type": "string"
            },
            "example": "all, regular, quick"
          }
        ],
        "responses": {
          "200": {
            "description": "Profiles Stopped",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Stop all the launched profiles."
      }
    },
    "/api/v1/version": {
      "get": {
        "summary": "Get Version",
        "responses": {
          "200": {
            "description": "Version Fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "env": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "env": "SOME_ENV",
                    "version": "1.11.1"
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Fetch the launcher version.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/api/v1/profile/status/p/{profile_id}": {
      "get": {
        "summary": "Get Profile Status",
        "responses": {
          "200": {
            "description": "Status Fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "browser_type": {
                          "type": "string"
                        },
                        "core_version": {
                          "type": "integer"
                        },
                        "folder_id": {
                          "type": "string"
                        },
                        "in_use_by": {
                          "type": "string",
                          "format": "email"
                        },
                        "is_quick": {
                          "type": "boolean"
                        },
                        "last_launched_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "last_launched_by": {
                          "type": "string",
                          "format": "email"
                        },
                        "last_launched_on": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "profile_id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "integer"
                        },
                        "workspace_id": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "browser_type": "stealthfox",
                    "core_version": 139,
                    "folder_id": "az9b0b1c-f16e-4b08-bb70-50000e2c7b0a",
                    "in_use_by": "user@multilogin.com",
                    "is_quick": false,
                    "last_launched_at": "2025-06-26T13:53:48.0788673Z",
                    "last_launched_by": "user@multilogin.com",
                    "last_launched_on": "30a2a2487443a77d7f19f3e9f5abd4fe7e52987682f9fc3aa5d415b9f9f51637",
                    "message": "",
                    "name": "Gregg.Keeling",
                    "profile_id": "7402a60d-74c8-498f-8e63-4d87f058ec5c",
                    "status": "browser_running",
                    "timestamp": 1750946030108,
                    "workspace_id": "az9b0b1c-f16e-4b08-bb70-50000e2c7b0a"
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Get the status of a single profile launched during the last session with Agent. If Agent is restarted, there will be no data to fetch.\n\nPossible profile statuses:\n\n- `download_browser_profile_metadata`\n    \n- `download_browser_profile_data`\n    \n- `download_browser_core`\n    \n- `download_finished`\n    \n- `download_meta_error`\n    \n- `download_data_error`\n    \n- `download_core_error`\n    \n- `download_meta_finished`\n    \n- `download_data_finished`\n    \n- `download_core_finished`\n    \n- `validate_proxy`\n    \n- `validate_proxy_error`\n    \n- `start_browser`\n    \n- `start_browser_error`\n    \n- `browser_running`\n    \n- `stopped`"
      },
      "parameters": [
        {
          "name": "profile_id",
          "in": "path",
          "required": true,
          "description": "`Required`. Specify the ID of the profile to launch.",
          "schema": {
            "type": "string"
          },
          "example": "uuid"
        }
      ]
    },
    "/api/v1/profile/statuses": {
      "get": {
        "summary": "Get All Profiles Status",
        "responses": {
          "200": {
            "description": "Status Fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "active_counter": {
                          "type": "object",
                          "properties": {
                            "cloud": {
                              "type": "integer"
                            },
                            "local": {
                              "type": "integer"
                            },
                            "quick": {
                              "type": "integer"
                            }
                          }
                        },
                        "states": {
                          "type": "object",
                          "properties": {
                            "4ac17621-dcd5-47c4-bc30-07320d580414": {
                              "type": "object",
                              "properties": {
                                "browser_type": {
                                  "type": "string"
                                },
                                "core_version": {
                                  "type": "integer"
                                },
                                "folder_id": {
                                  "type": "string"
                                },
                                "in_use_by": {
                                  "type": "string",
                                  "format": "email"
                                },
                                "is_quick": {
                                  "type": "boolean"
                                },
                                "last_launched_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "last_launched_by": {
                                  "type": "string",
                                  "format": "email"
                                },
                                "last_launched_on": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "profile_id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "workspace_id": {
                                  "type": "string"
                                }
                              }
                            },
                            "6f8566f7-5295-11f0-b714-0a0027000014": {
                              "type": "object",
                              "properties": {
                                "browser_type": {
                                  "type": "string"
                                },
                                "core_version": {
                                  "type": "integer"
                                },
                                "folder_id": {
                                  "type": "string"
                                },
                                "in_use_by": {
                                  "type": "string"
                                },
                                "is_quick": {
                                  "type": "boolean"
                                },
                                "last_launched_by": {
                                  "type": "string"
                                },
                                "last_launched_on": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "profile_id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "workspace_id": {
                                  "type": "string"
                                }
                              }
                            },
                            "7402a60d-74c8-498f-8e63-4d87f058ec5c": {
                              "type": "object",
                              "properties": {
                                "browser_type": {
                                  "type": "string"
                                },
                                "core_version": {
                                  "type": "integer"
                                },
                                "folder_id": {
                                  "type": "string"
                                },
                                "in_use_by": {
                                  "type": "string",
                                  "format": "email"
                                },
                                "is_quick": {
                                  "type": "boolean"
                                },
                                "last_launched_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "last_launched_by": {
                                  "type": "string",
                                  "format": "email"
                                },
                                "last_launched_on": {
                                  "type": "string"
                                },
                                "message": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "profile_id": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                },
                                "workspace_id": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "active_counter": {
                      "cloud": 2,
                      "local": 0,
                      "quick": 1
                    },
                    "states": {
                      "4ac17621-dcd5-47c4-bc30-07320d580414": {
                        "browser_type": "stealthfox",
                        "core_version": 139,
                        "folder_id": "fb9b0b1c-f16e-4b08-bb69-25942e2c7b0a",
                        "in_use_by": "user@multilogin.com",
                        "is_quick": false,
                        "last_launched_at": "2025-06-26T13:56:32.3345897Z",
                        "last_launched_by": "user@multilogin.com",
                        "last_launched_on": "30a2a2487443a77d7f19f3e9f5abd4fe7e52987682f9fc3aa5d415b9f9f51637",
                        "message": "",
                        "name": "Martina64",
                        "profile_id": "4ac17621-dcd5-47c4-bc30-07320d580414",
                        "status": "browser_running",
                        "timestamp": 1750946194258,
                        "workspace_id": "fb9b0b1c-f16e-4b08-bb69-25942e2c7b0a"
                      },
                      "6f8566f7-5295-11f0-b714-0a0027000014": {
                        "browser_type": "mimic",
                        "core_version": 137,
                        "folder_id": "",
                        "in_use_by": "",
                        "is_quick": true,
                        "last_launched_by": "",
                        "last_launched_on": "",
                        "message": "",
                        "name": "intelligent_adam",
                        "profile_id": "6f8566f7-5295-11f0-b714-0a0027000014",
                        "status": "browser_running",
                        "timestamp": 1750946223504,
                        "workspace_id": "fb9b0b1c-f16e-4b08-bb69-25942e2c7b0a"
                      },
                      "7402a60d-74c8-498f-8e63-4d87f058ec5c": {
                        "browser_type": "stealthfox",
                        "core_version": 139,
                        "folder_id": "fb9b0b1c-f16e-4b08-bb69-25942e2c7b0a",
                        "in_use_by": "user@multilogin.com",
                        "is_quick": false,
                        "last_launched_at": "2025-06-26T13:53:48.0788673Z",
                        "last_launched_by": "user@multilogin.com",
                        "last_launched_on": "30a2a2487443a77d7f19f3e9f5abd4fe7e52987682f9fc3aa5d415b9f9f51637",
                        "message": "",
                        "name": "Gregg.Keeling",
                        "profile_id": "7402a60d-74c8-498f-8e63-4d87f058ec5c",
                        "status": "browser_running",
                        "timestamp": 1750946030108,
                        "workspace_id": "fb9b0b1c-f16e-4b08-bb69-25942e2c7b0a"
                      }
                    }
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Get the status of all the profiles launched during the last session with Agent. If Agent is restarted, there will be no data to fetch.\n\n**Possible profile statuses:**\n\n- `download_browser_profile_metadata`\n    \n- `download_browser_profile_data`\n    \n- `download_browser_core`\n    \n- `download_finished`\n    \n- `download_meta_error`\n    \n- `download_data_error`\n    \n- `download_core_error`\n    \n- `download_meta_finished`\n    \n- `download_data_finished`\n    \n- `download_core_finished`\n    \n- `validate_proxy`\n    \n- `validate_proxy_error`\n    \n- `start_browser`\n    \n- `start_browser_error`\n    \n- `browser_running`\n    \n- `stopped`\n    \n\n**Possible script statuses:**\n\n- `running`\n    \n- `finished`\n    \n- `stopped`\n    \n- `error`"
      }
    },
    "/api/v1/profile/quick/statuses": {
      "get": {
        "summary": "Get All Quick Profiles Status",
        "responses": {
          "200": {
            "description": "Status Fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "active_counter": {
                          "type": "integer"
                        },
                        "states": {
                          "type": "object",
                          "properties": {
                            "0f917d6e-13a3-11f0-b2e5-0a0027000012": {
                              "type": "object",
                              "properties": {
                                "browser_type": {
                                  "type": "string"
                                },
                                "is_quick": {
                                  "type": "boolean"
                                },
                                "message": {
                                  "type": "string",
                                  "format": "utc-millisec"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                }
                              }
                            },
                            "115282d0-13a3-11f0-b2e5-0a0027000012": {
                              "type": "object",
                              "properties": {
                                "browser_type": {
                                  "type": "string"
                                },
                                "is_quick": {
                                  "type": "boolean"
                                },
                                "message": {
                                  "type": "string",
                                  "format": "utc-millisec"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "timestamp": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "active_counter": 2,
                    "states": {
                      "0f917d6e-13a3-11f0-b2e5-0a0027000012": {
                        "browser_type": "mimic",
                        "is_quick": true,
                        "message": "57165",
                        "name": "hardworking_vladimir",
                        "status": "browser_running",
                        "timestamp": 1744025152872
                      },
                      "115282d0-13a3-11f0-b2e5-0a0027000012": {
                        "browser_type": "mimic",
                        "is_quick": true,
                        "message": "57193",
                        "name": "compassionate_lindsey",
                        "status": "browser_running",
                        "timestamp": 1744025155051
                      }
                    }
                  },
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Get the status of all the quick profiles launched during the last session with Agent. If Agent is restarted, there will be no data to fetch.\n\n**Possible profile statuses:**\n\n- `download_browser_profile_metadata`\n    \n- `download_browser_profile_data`\n    \n- `download_browser_core`\n    \n- `download_finished`\n    \n- `download_meta_error`\n    \n- `download_data_error`\n    \n- `download_core_error`\n    \n- `download_meta_finished`\n    \n- `download_data_finished`\n    \n- `download_core_finished`\n    \n- `validate_proxy`\n    \n- `validate_proxy_error`\n    \n- `start_browser`\n    \n- `start_browser_error`\n    \n- `browser_running`\n    \n- `stopped`"
      }
    },
    "/api/v1/loaded_browser_cores": {
      "get": {
        "summary": "Loaded Browser Cores",
        "responses": {
          "200": {
            "description": "Cores Loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "is_latest": {
                            "type": "boolean"
                          },
                          "latest_version": {
                            "type": "string",
                            "format": "color"
                          },
                          "type": {
                            "type": "string"
                          },
                          "versions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "is_latest": true,
                      "latest_version": "123",
                      "type": "mimic",
                      "versions": [
                        "121.28"
                      ]
                    },
                    {
                      "is_latest": true,
                      "latest_version": "124",
                      "type": "stealthfox",
                      "versions": [
                        "124.8"
                      ]
                    }
                  ],
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "Fetch a list of cores saved on your machine."
      }
    },
    "/bcs/core/list": {
      "get": {
        "summary": "Browser Core List",
        "parameters": [
          {
            "name": "browser_type",
            "in": "query",
            "description": "Specify the browser type. Defaults to `mimic`.",
            "schema": {
              "type": "string"
            },
            "example": "mimic, stealthfox"
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Browser Core List Fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "core_versions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "browser_type": {
                                "type": "string"
                              },
                              "versions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "full_versions": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "major_version": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  },
                  "data": {
                    "core_versions": [
                      {
                        "browser_type": "mimic",
                        "versions": [
                          {
                            "full_versions": [
                              "135.3"
                            ],
                            "major_version": 135
                          },
                          {
                            "full_versions": [
                              "134.5"
                            ],
                            "major_version": 134
                          },
                          {
                            "full_versions": [
                              "133.9",
                              "133.6"
                            ],
                            "major_version": 133
                          },
                          {
                            "full_versions": [
                              "132.4",
                              "132.3"
                            ],
                            "major_version": 132
                          },
                          {
                            "full_versions": [
                              "131.7",
                              "131.2"
                            ],
                            "major_version": 131
                          },
                          {
                            "full_versions": [
                              "130.6",
                              "130.2"
                            ],
                            "major_version": 130
                          }
                        ]
                      },
                      {
                        "browser_type": "stealthfox",
                        "versions": [
                          {
                            "full_versions": [
                              "137.1"
                            ],
                            "major_version": 137
                          },
                          {
                            "full_versions": [
                              "136.4"
                            ],
                            "major_version": 136
                          },
                          {
                            "full_versions": [
                              "135.5",
                              "135.3"
                            ],
                            "major_version": 135
                          },
                          {
                            "full_versions": [
                              "134.2",
                              "134.1"
                            ],
                            "major_version": 134
                          },
                          {
                            "full_versions": [
                              "133.2"
                            ],
                            "major_version": 133
                          },
                          {
                            "full_versions": [
                              "132.3"
                            ],
                            "major_version": 132
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nFetch a list of available browser core versions for a given browser.\n\n**NB: Make certain that Launcher is running before calling the endpoint.**\n\n**Required parameters for Strict mode:**\n\n``` json\n{\n  \"browser_type\": \"\"\n}\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "browser_type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "browser_type": "<string>"
              }
            }
          }
        }
      }
    },
    "/api/v1/load_browser_core": {
      "get": {
        "summary": "Load Browser Core",
        "parameters": [
          {
            "name": "browser_type",
            "in": "query",
            "description": "`Required`. Specify the browser type. Defaults to `mimic`",
            "schema": {
              "type": "string"
            },
            "example": "mimic,stealthfox"
          },
          {
            "name": "version",
            "in": "query",
            "description": "`Required`. Specify the core version. Defaults to `latest`.",
            "schema": {
              "type": "integer"
            },
            "example": "123"
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "500": {
            "description": "Core Loaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": "Download started"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nLoad a particular browser core from the server.\n\nPlease note that launching profiles with a dated core version may significantly increase the chances of getting detected.\n\n**Required parameters for Strict mode:**\n\n``` json\n\"browser_type\": \"value>\",\n\"version\" : <number>\n\n ```"
      }
    },
    "/api/v1/delete_browser_core": {
      "delete": {
        "summary": "Delete Browser Core",
        "parameters": [
          {
            "name": "browser_type",
            "in": "query",
            "description": "`Required`. Specify the browser type. Defaults to `mimic`",
            "schema": {
              "type": "string"
            },
            "example": "mimic,stealthfox"
          },
          {
            "name": "version",
            "in": "query",
            "description": "`Required`. Specify the core version. Defaults to `latest`.",
            "schema": {
              "type": "integer"
            },
            "example": "116"
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Core Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "object",
                      "properties": {
                        "error_code": {
                          "type": "string"
                        },
                        "http_code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": {
                    "error_code": "",
                    "http_code": 200,
                    "message": ""
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nDelete a browser core from your machine.\n\n**Required parameters for Strict mode:**\n\n``` json\n\"browser_type\": \"value>\",\n\"version\" : <number>\n\n ```"
      }
    },
    "/api/v1/proxy/validate": {
      "post": {
        "summary": "Validate Proxy",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "`Required`. Specify the proxy type. Defaults to `http`.",
            "schema": {
              "type": "string"
            },
            "example": "\"http\", \"socks5\""
          },
          {
            "name": "host",
            "in": "query",
            "description": "`Required`. Specify the proxy host.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_host.com\""
          },
          {
            "name": "port",
            "in": "query",
            "description": "`Required`. Specify the proxy port.",
            "schema": {
              "type": "integer"
            },
            "example": "1234"
          },
          {
            "name": "username",
            "in": "query",
            "description": "`Required`. Specify the proxy username.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_username\""
          },
          {
            "name": "password",
            "in": "query",
            "description": "`Required`. Specify the proxy password.",
            "schema": {
              "type": "string"
            },
            "example": "\"your_password\""
          },
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "Default to false. If set to true, you must specify values for all required parameters.",
            "schema": {
              "type": "string"
            },
            "example": "boolean"
          }
        ],
        "responses": {
          "default": {
            "description": "Validate Proxy"
          }
        },
        "tags": [
          "Launcher"
        ],
        "description": "This endpoint supports both Strict and Non-Strict modes. In Strict mode, all required parameters must be explicitly specified. In contrast, Non-Strict mode allows for faster usage by applying default values to any unspecified parameters. Default values will be visible for each parameter.\n\nCheck your proxy connection.\n\n**Required parameters for Strict mode:**\n\n``` json\n{\n  \"type\": \"<string>\",\n  \"host\": \"<string>\",\n  \"port\": <number>,\n  \"username\": \"<string>\",\n  \"password\": \"<string>\"\n}\n\n ```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\r\n  \"type\": \"<string>\",\r\n  \"host\": \"<string>\",\r\n  \"port\": <interger>,\r\n  \"username\": \"<string>\",\r\n  \"password\": \"<string>\"\r\n}"
            }
          }
        }
      }
    },
    "/api/v1/cookie_import": {
      "post": {
        "summary": "Cookie Import",
        "parameters": [
          {
            "name": "profile_id",
            "in": "query",
            "description": "`Required`",
            "schema": {
              "type": "string"
            },
            "example": "<your profile id>"
          },
          {
            "name": "folder_id",
            "in": "query",
            "description": "`Required`. Defaults to `default profile ID`",
            "schema": {
              "type": "string"
            },
            "example": "<folder of the profile id>"
          },
          {
            "name": "import_advanced_cookies",
            "in": "query",
[...]
